[2015-04-23 12:11] kytwb opened #1 "sources?"
any reason the sources disappeared?

[2015-04-23 13:18] jimthedev commented on #1
@kytwb No reason. I npm published before I pushed. Source added. Sorry for the delay.

[2015-04-23 13:18] #1 closed

[2015-09-16 22:32] Den-dp opened #4 "Please consider the case with new npm and flat dependencies"
It looks like this line will brake with new npm and flat dependencies https://github.com/commitizen/cz-conventional-changelog/blob/master/index.js#L3

[2015-09-17 00:08] jimthedev commented on #4
Good find Hmmm... Haven't played with npm v3 yet. Do you know if this can be replaced with some other path resolution method?

[2015-09-17 20:01] Den-dp commented on #4
@jimthedev tbh I'm not quite sure what was the reason to use `relative` path, but from my point of view even this simple change should work everywhere.
[code]
https://nodejs.org/api/modules.html#modules_file_modules
https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders

[2015-09-17 20:35] #4 closed

[2015-09-26 16:41] mahpah opened #6 "Error loading "word-wrap""
I got this error when using version 1.1.1, everything work fine in 1.1.0. I think it should load `wordwrap/index.js` instead of `wordwrap.js`

[code]
[code]

[2015-09-26 23:34] jccguimaraes commented on #6
Got the same problem from 1.1.1 (node v4.1.0) downgraded to 1.1.0 and working properly

[2015-09-27 10:20] ericdouglas commented on #6
Got the same problem from 1.1.1 **and 1.1.0** (node v4.1.0), downgraded to **1.0.1** and worked properly.

[2015-09-27 23:58] sebastienbarre commented on #6
Confirming issue for `iojs` as well. Downgraded to 1.1.0 worked.

[2015-09-28 02:18] jimthedev commented on #6
Thank you all so much for the feedback and apologies for the inconvenience. I've confirmed that a [recent PR](https://github.com/commitizen/cz-conventional-changelog/pull/5) introduced this bug for older node versions in an attempt to support new npm and node versions. Bottom line, I am rolling back that PR and have released 1.1.2 which is effectively the same as 1.1.0. Rolling back the breaking c

[2015-09-28 02:26] jimthedev commented on #6
One thing I will be focusing on for the commitizen 2.0 is making sure that there is a comprehensive test suite to find these kind of regressions in the future. I'll be creating a 2.0 milestone in the cz-cli repo that you can track for npm3 support.

[2015-09-28 06:23] mahpah commented on #6
Thanks @jimthedev, v1.1.2 worked fine for me. Here the information you might need.

[code]

[2015-09-28 06:42] dferber90 commented on #6
Unfortunately it is not working for me with 1.1.2 and 1.1.0.

Report for 1.1.2:
[code]

Versions
[code]

[2015-09-28 13:20] jimthedev commented on #6
Thanks @mahpah.

@dferber90 I've opened an issue in the main cli project for [NPM 3 support](https://github.com/commitizen/cz-cli/issues/16). It has been added to the commitizen 2.0 milestone.

[2015-09-28 13:26] jimthedev commented on #6
Closed. See my comment above for a new issue to track eventual NPM3 support.

[2015-09-28 13:26] #6 closed

[2015-09-28 13:53] dferber90 commented on #6
Thank you. I've just started using commitizen and cz-conventional-changelog yesterday. It's awesome!

[2015-09-28 14:14] jimthedev commented on #6
@dferber90 Fantastic. Glad you're enjoying it. :+1:  :D

[2015-10-07 01:03] rizgit opened #7 "Issues closed by this change"
I think I have configured correctly and when I run git cz (or npm run commit following Kents lessons), and when I enter 'closes #1' for (for breaking changes or issues closed), it does not get added to commit log. Only the scope and the short message is committed to the log . My git log does not breaks into lines and does not show the issues closed. Anything I am missing?.

Date:   Wed Oct 7 11:47

[2015-10-08 15:55] kentcdodds opened #8 "Release new version"
[This](https://github.com/commitizen/cz-conventional-changelog/commit/e98818a229bad67f9003e58d78eb5722cbbe187c) needs to be released. Do you have any problem with me doing that? I'll do it in 10 minutes if you don't respond!!! :clock11: :bomb:

[2015-10-08 15:58] kentcdodds commented on #8
I'm confused. The latest version in master's [package.json](https://github.com/commitizen/cz-conventional-changelog/blob/master/package.json#L3) states it's version 1.1.0, but the latest version on npm is 1.1.2, and the tag on github has a package.json with 1.1.2 and was released just 2 weeks ago but doesn't have the fix in it which happened 3 weeks ago...

What kind of operation are you running h

[2015-10-08 15:58] kentcdodds commented on #8
I'll tell you what. I'll set up semantic-release and publish-latest on this repo, then everything will be better.

[2015-10-08 16:32] kentcdodds commented on #8
Hey @jimthedev, could you add @commtizen-bot to the owners on the org and https://www.npmjs.com/~commitizen-bot to the collaborators on npm? Thanks!

[2015-10-08 16:47] kentcdodds commented on #8
Forget about npm, I got that working. Just need to add @commitizen-bot to the org. Thanks!

[2015-10-08 16:58] jimthedev commented on #8
Hey, sorry Kent. I've been sick on and off for the past month so I'm a bit behind and clearly missed something here. Thanks for catching it.

Here is a quick update:

- Commitizen-bot has been added on npm
- I want to implement all of the changes you talk about in your library egghead series.
- I've started a complete rewrite of cz-cli including a full test suite. It is slow going but includes the

[2015-10-08 17:00] kentcdodds commented on #8
That all sounds amazingly awesome. Could you add the @commitizen-bot account to the github org so it can push tagged releases?

[2015-10-08 17:02] jimthedev commented on #8
Invite sent!

[2015-10-08 18:06] kentcdodds commented on #8
It was a bit bumpy, but everything's set now! @commitizen-bot is at our command :-)

[2015-10-08 18:10] kentcdodds commented on #8
Unfortunately, I'm still getting this error when using this with angular-formly :-(

No idea what's up... I'm using npm@3...

[2015-10-09 07:03] JamieMason opened #9 "Versions 1.1.3 and 1.1.4: Error loading "word-wrap""
Since upgrading to 1.1.4 this morning I get the following error.

[code]

(I realise this report is quite brief, but I'm not sure what else to add. Please ask for any more info you need and I'll get it for you).

Thanks a lot for this great tool.

[2015-10-09 09:29] JamieMason commented on #9
Issue still happens when downgrading to 1.1.3, but 1.1.2 is fine.

[2015-10-09 13:49] jimthedev commented on #9
Thanks for letting me know. There are some issues right now with the cli/adapter and all of the possible node/npm combos so it is tricky locking down what combos are working and which aren't. I'm building a comprehensive test suite to track this and also a cli command so that you can just type `commitizen up` or something like that and it will check to make sure you have the most recent version of

[2015-10-09 13:51] jimthedev commented on #8
It is npm3. It moves around packages which unfortunately breaks some of the assumptions that cz makes about the filesystem. I am working on a fix that takes this into account as part of 2.0 which includes a CI test suite.

[2015-10-09 13:52] jimthedev commented on #8
2.0 is also written in ES6 w/ Babel so you'll be right at home @kentcdodds

[2015-10-09 13:59] JamieMason commented on #9
I've definitely been burnt by that before too, good luck :)

[2015-10-09 14:00] jimthedev commented on #9
Thanks. I'll post here when this is fixed and mention you.

[2015-10-09 14:46] kentcdodds commented on #8
Awesome! I recommend you checkout the way [add-to-path](https://github.com/kentcdodds/node-add-to-path) is built and released. Writing your stuff in ES6 is awesome, automatically building and releasing it is even cooler! Just check out [the scripts](https://github.com/kentcdodds/node-add-to-path/blob/master/package.json#L6-L16) and the [.travis.yml](https://github.com/kentcdodds/node-add-to-path/b

[2015-10-13 17:43] jimthedev commented on #8
Sounds good @kentcdodds. I expect it to be ready for review in the next few days or so. Once I get all of that integrated would you be willing to do a final review?

[2015-10-13 17:45] kentcdodds commented on #8
Sure!

[2015-10-13 18:09] jimthedev commented on #8
![high five gang](https://cloud.githubusercontent.com/assets/108938/10463702/a41cedd4-71ab-11e5-87ee-fe72e16fa232.gif)

[2015-10-14 20:26] biegl opened #10 "Add other flavours as prompt"
At the moment you are using the angular way of writing commit messages.
Wouldn't it be an idea to configure what flavour (angular, atom, eslint, ember, jquery, jshint) should be used as prompt. This could be configured via package.json for example.

[2015-10-14 20:48] jimthedev commented on #10
Hi @biegl. You are correct. The [commitizen cli](https://github.com/commitizen/cz-cli) is designed to allow the exact feature that you're asking about. This repository is for the de-facto Angular adapter, but there are others too. We use adapters to allow people to choose their own flavors/conventions. Creating a new adapter is as simple as forking on of the existing adapters (like this repo) and

[2015-10-14 20:50] jimthedev commented on #10
Another adapter currently being developed is:
https://github.com/rebelliard/rb-conventional-changelog

I think my goal needs to be to make the docs much more clear and well documented. One section titled 'Existing Adapters' containing a list of current known adapters. The second would be a 'How to create an adapter' section. How does that sound?

[2015-10-14 20:58] biegl commented on #10
Hi @jimthedev,
sounds very cool. At first I thought that your intention was to implement the prompts based on ajoslin's repo (https://github.com/ajoslin/conventional-changelog/tree/master/conventions). There are the other flavours that conventional-changelog supports. So I thought, if conventional-changelog supports more than the angular flavour, why not cz-conventional-changelog.

Nevertheless, I

[2015-10-14 23:25] jimthedev commented on #10
Ah, I see what you're talking about! That looks like a new feature so
perhaps we can model additional adapters off of those formats. Thanks!!
On Wed, Oct 14, 2015 at 3:58 PM Markus Bürgler <notifications@github.com>
wrote:

[2015-10-16 05:10] #8 closed

[2015-10-16 05:10] #9 closed

[2015-10-16 13:36] jimthedev commented on #7
Hi @rizgit. Sorry to hear that something wasn't working.

Two things:

1. Would you mind trying to upgrade to Commitizen 2? It was just released last night and should help with some problems, including newer npm and node versions.
2. If that doesn't work, could you try to do a commit with commitizen then immediately afterwards type `git --no-pager log -1 --pretty=%B`. Then if you can copy and past

[2015-10-16 21:01] jimthedev opened #11 "Using double quotes in a message breaks the commit"
The dump containing the error.

[code]

[2015-10-21 21:44] jimthedev commented on #7
Closing this for now but feel free to reopen if you can provide a bit more info. Thanks!

[2015-10-21 21:44] #7 closed

[2015-10-21 21:49] jimthedev opened #12 "feat: use existing message"
"In my personal opinion, users of cz-cli would probably expect that the -m flag would be inserted as the 'short' message." - @raibutera

See more of the original report and discussion here:
https://github.com/commitizen/cz-cli/issues/3

The cli needs to have some sort of [programatic api to pass things into adapters](https://github.com/commitizen/cz-cli/issues/24) or at least we need to pass in ra

[2015-11-02 10:10] Malkiz opened #13 ""longer description" and "breaking changes" are not included in the commit message"
I am using Windows 7, and when running the `git cz` command with the `cz-conventional-changelog` adapter - the "longer description" and "breaking changes" are not included in the commit message.

I debugged it a little and found that the problem is with concatenating the `\n\n` to the message.

[code]

Anything after a `\n` character is not included in the commit.
It works if I switch it to commas

[2015-11-09 15:59] jimthedev commented on #13
Interesting. I'll take a look to see if I can reproduce. I've been working on core a lot and this adapter certainly needs some updates and likely should have a test suite. In the mean time I'll try to get a fix out for 1.1.5.

[2016-03-07 11:00] pensierinmusica opened #15 "Add "content" case"
Hi,

I've been using the Angular commit messages convention fro more than a year now, and I find it great. If I understand correctly, this pretty much mirrors `cz-conventional-changelog` prompts.

Imho, there's one type of commits that is very relevant though, and it's missing from the list: the "content" type.

Every time I'm working on an app or a website and I need to commit changes to its stat

[2016-03-08 23:09] jimthedev commented on #15
Hi there and thanks for the suggestion. We cz-conventional-changelog follows the conventional-changelog convention, but you are free to fork it to make the changes you want. Currently the best bet is to follow these steps:

1. Fork this repository.
2. Make changes to index.js to add the new category.
3. Push your new adapter to npm under your own adapter name, say, for example cz-my-cool-adapter
4

[2016-03-08 23:09] #15 closed

[2016-03-09 11:02] pensierinmusica commented on #15
Hi @jimthedev, thanks for the suggestion. I figured it was possible to create a modified version and use it. Still, I think the "content" case would be useful for everyone and not just for me, so it would make sense to include it in `cz-conventional-changelog`.

Can you please give me more details about the `conventional-changelog` standard and where I can propose a modification for it?

Also, the

[2016-03-09 12:35] jimthedev commented on #15
You can suggest changes to the convention here: https://github.com/stevemao/conventional-changelog-angular/blob/master/index.js

[2016-03-09 12:39] jimthedev commented on #15
Good call on the readme. Link is now fixed.

[2016-03-09 14:14] pensierinmusica commented on #15
K thanks, I've posted a proposal in that repo!

[2016-03-11 03:09] stevemao opened #16 "rename this to angular adapter?"
Since conventional-changelog has many presets and angular is one of them.

[2016-03-30 18:54] jimthedev commented on #16
Thanks for the suggestion @stevemao. I agree this is probably a good idea. Any preference on the naming convention for the repo and the npm adapter name? I was to be careful not to break too much here. My guess is that deprecating this package and creating a brand new repo called cz-conventional-changelog-angular is the best idea. It is a very long name...

Jim

[2016-03-30 22:26] stevemao commented on #16
`cz-angular`

[2016-03-30 22:27] stevemao commented on #16
or maybe cz-adapter-angular

[2016-03-30 22:29] stevemao commented on #16
It has nothing todo with `conventional-changelog`. It's an adapter for the angular convention. The naming convention for adapter names could be `cz-adapter-[project]`

[2016-04-10 18:10] tusharmath opened #17 "Split Breaking Changes and issues closed into two separate questions"
The idea behind doing this is that if the user has a breaking change, you could auto prefix it with `BREAKING CHANGE` text. Often times there are typos while writing this text in all caps.

original issue: https://github.com/commitizen/cz-cli/issues/192

[2016-04-24 01:55] sotojuan opened #19 "Link in repo description is broken"

[2016-04-25 16:07] bmayen opened #20 "cz.prompt(...).then is not a function"
Getting the following error on cz-conventional-changelog@1.1.6:

[code]

v1.1.5 appears to work as expected.

[2016-04-26 13:11] apinnecke opened #22 "Add tests"
This repository should contain tests so that something breaking like in #20 does not happen.

[2016-04-26 13:18] apinnecke commented on #20
This is because of an older global version of commitizen. A `npm update -g commitizen` does help and solve the issue.

In this case the wire between the global module and the locally installed one should either be tightened or removed.

[2016-04-27 00:47] jimthedev commented on #20
@apinnecke is correct. This is 100% my fault although hopefully I can provide a bit of background:

Inquirer.js went to 1.0.0 after being in 0.0 for a long time. I missed the breaking changes that were included. Typically my understanding is that when going from 0.0 to 1.0 you won't have any breaking changes from the last few 0.0 releases since you're indicating that your product is finally stable

[2016-04-27 00:48] jimthedev commented on #19
This has been updated. Thanks for the heads up.

[2016-04-27 00:48] #19 closed

[2016-05-06 03:36] sarbbottam commented on #20
Could you try updating the path to `cz-conventional-changelog` instead of `node_modules/cz-conventional-changelog`?

[2016-05-06 03:41] sarbbottam opened #23 "[skip ci] option?"
Wondering if it would be useful to display a conditional `prompt` for `docs` & `chore` to add [`[skip ci]`](https://docs.travis-ci.com/user/customizing-the-build/#Skipping-a-build) option.

I guess most of the time a build is unnecessary for `chore` and `docs` changes.

[2016-05-06 06:25] stevemao commented on #16
@jimthedev We are promoting `standard-version` and `standard-changelog`, basically they are based on angular conventions. (`standard-version` is a drop-in replacement of `npm-version` but it's another story)Those `standard-bla` might diverge from the the angular a little bit in the future. Maybe this could be called `cz-standard`.

[2016-05-17 00:47] jpnelson opened #24 "Refactor the adapter to allow extension"
I'd like to add to the adapter, but it's not granular enough for me to depend on specific parts. I'd like to depend on the prompting utility separately from the formatting one.

[2016-06-20 15:46] jviotti opened #26 "Make max line width configurable"
As far as I've seen, 72 characters is a well known default. Is there a reason why this adapter hardcodes 100? I'd be awesome if it was at least configurable.

[2016-06-29 13:27] rtomchinsky opened #27 "Longer description is split into multiple paragraphs"
I don't know if this is related to #13, but the longer descriptions are being split into multiple paragraphs, as in:
[code]

This is also reproducible by doing
[code]

The [`git-commit`](https://git-scm.com/docs/git-commit) docs say that multiple `-m` parameters are interpreted as paragraphs, which seems to be consistent with the above command results. Maybe git is interpreting the newlines added

[2016-06-29 13:50] rtomchinsky commented on #27
Upon further inspection, `git-cz` is splitting the `\n`s in the incoming messages, and `gulp-git` is adding each of those as `-m` options to the actual commit, which explains how the outputs above are similar.

[2016-06-29 14:06] rtomchinsky commented on #27
Since git accepts multiline commit messages, as I can `--amend` the commit message generated by this module and just leave single newlines, I believe this is an issue with `git-cz`, so I'll open one there instead.

Thanks!

[2016-06-29 14:06] #27 closed

[2016-08-07 04:49] adjohnson916 opened #29 "Use conventional-commit-types"
You may wish to integrate my new [conventional-commit-types](https://github.com/adjohnson916/conventional-commit-types) module which exposes a simple list of valid commit types used in this module (plus `revert` per Angular conventions).

I wanted a standalone module for these so I could use them in other tools, e.g. my new [conventional-commit-types-cli](https://github.com/adjohnson916/convention

[2016-08-07 16:09] jimthedev commented on #23
I like this idea. I want our commit types (see #29) to be deterministic but to still allow for the flexibility of requests like this one. For this reason I don't think JSON is going to be a good enough format for our types. I'm thinking we need to use a type system more like the one in GraphQL.

[2016-08-07 16:19] jimthedev commented on #29
Love it. It would be my pleasure to add you as a contributor to the commitizen organization if you would be willing to help work on a type system. My main goals are that it should be deterministic, flexible, and able to support introspection.

I notice right now that you're using JSON for the types. I'm a bit more partial to something like the type system in GraphQL. I know most people aren't fami

[2016-08-07 16:53] adjohnson916 commented on #29
@jimthedev What about adding support to https://github.com/commitizen/cz-cli for a new `config.commitizen.types` key in `.czrc` and `package.json` (similar to `config.commitzen.path` per [docs](https://github.com/commitizen/cz-cli#making-your-repo-commitizen-friendly)) that would allow users to specify their own module, instead of the new default of `conventional-commit-types`, that will export th

[2016-08-08 10:42] LinusU commented on #29
Instead of adding an extra field to the package.json that only applies to some adapters, wouldn't it be more nice to split the adapter up in two packages.

One package would take a lists of types, and then do all the work (e.g. `cz-conventional-changelog-engine`), and the other part would just require and call that module with the default list.

That way it will be easy to publish new adapters tha

[2016-08-09 22:18] adjohnson916 commented on #29
@LinusU Sounds good to me. @jimthedev shall we pursue this sort of refactor?  Want to get through any pending PRs or major upcoming changes first?

[2016-08-09 22:19] jimthedev commented on #29
I don't. Let's do it.

--
Jim ForCy

On August 9, 2016 at 5:18:11 PM, Anders D. Johnson (notifications@github.com)
wrote:

[2016-08-14 13:16] #29 closed

[2016-08-15 11:34] floriangosse commented on #26
The default in git of max line width is 50 for the subject and 72 chars for all other lines. It is described in  [How to Write a Git Commit Message](http://chris.beams.io/posts/git-commit/).

I agree, it would be nice if we could make the values configurable.

[2016-11-14 00:57] tunnckoCore opened #32 "fails when used with commitizen < 2.8"
It seems `commitizen` is a bit strange thing and does not follow so strictly semver. And they even dropped support for node<4 with no major bump. But anyway. So my workaround to get all things working is to lock commitizen to `~2.7.0`, but then this package fails, cuz maybe commitizen `2.7` does not use promises?

[2016-11-14 01:02] tunnckoCore commented on #32
That's... Okey. Will lock to `1.1.5`

[2016-11-14 01:02] #32 closed

[2017-01-11 23:07] lirantal opened #41 "Supporting multiline for conventional changelog"
Hi @jimthedev,

This is in follow-up to https://github.com/commitizen/cz-cli/issues/398 which I know you closed it and forwarded here which is I'm opening it in the relevant place for another discussion.

I believe that this adapter is inspired and follows Angular guideline for commits, which clearly allows multilines. Obviously it's easy to fork this adapter and make the change but it would be be

[2017-01-12 21:05] lirantal commented on #41
Sorry, that's my bad.
The conventional changelog does allow you to provide further "next-line" through the last question.

Closing.

[2017-01-12 21:05] #41 closed

[2017-01-17 01:07] markdalgleish commented on #17
@jimthedev is this something you want implemented? I'm happy to do this myself and send a PR—otherwise I'll have to maintain my own custom engine, which I'd rather avoid.

[2017-01-17 02:58] travi commented on #17
as another consumer, i agree that this would be a helpful change

[2017-01-17 04:06] jimthedev commented on #17
@markdalgleish @travi I would be ok with it. We're going to need to bump major versions but if you put in a PR I'd expect it to get merged. @LinusU how does this sound?

[2017-01-17 06:40] LinusU commented on #17
👍

[2017-01-27 15:50] vovaguguiev opened #43 "Add validation of answers: disallow having BREAKING CHANGE but no body"
Take a commit message like this:
[code]

The BREAKING CHANGE section is not recognized by the tools that analyze commits, e.g. `semantic-release`, because BODY part of the commit is missing and they think the FOOTER is actually a BODY.
Is this a correct behavior of those tools or in other words should it be allowed to specify FOOTER without providing BODY?

If this should be forbidden, we could ad

[2017-01-27 15:54] wizardzloy commented on #17
@markdalgleish are you working on this? I could implement this if you don't have time

[2017-02-21 16:00] #17 closed

[2017-02-21 18:08] tusharmath commented on #17
Wow Thanks a ton!

[2017-02-23 21:57] jpnelson opened #47 "split out the commit message generation part"
I'd be keen to provide a different prompter to the same changelog format – adding a bit of additional information.

Would you be interested in a PR that splits out the part that generates a commit message? With this, we'd be able to customise the prompt, and build on top of conventional-changelog as a commit message format.

Thanks for your work maintaining this!

[2017-02-25 00:33] jpnelson commented on #47
I think I could use cz-customizable to achieve this if you want to keep this repo for different purposes.

[2017-02-25 00:33] #47 closed

[2017-03-29 17:00] rockchalkwushock opened #48 "Closing Issues not working"
I went and read the [Angular Contributing Guidelines](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit) and the [Closing Issues via Commit Messages](https://help.github.com/articles/closing-issues-via-commit-messages/) from Github. I thought I had everything set up correctly. The issue is referenced on Github in the commit; but it never closed the issue.

Unfortunately this

[2017-03-30 17:42] rockchalkwushock commented on #48
Github pointed out that I was not on the `default branch` and that was why the issues had not been closed.

[2017-03-30 17:42] #48 closed

[2017-04-28 03:49] huy-nguyen commented on #26
I forked the repo and created a new npm package that allows you to configure the line length. It's name is [cz-conventional-changelog-customizable](https://github.com/huy-nguyen/cz-conventional-changelog).

[2017-04-28 03:53] travi commented on #26
rather than fragmenting things further, a PR to this project would be a great idea for this

[2017-04-28 14:12] huy-nguyen commented on #26
I can make a PR if one of the maintainers chime in and tell me how they want the line width configuration to look like.

[2017-04-28 14:37] LinusU commented on #26
How does the config look in your fork, I'm open to any suggestions :)

[2017-04-28 14:46] huy-nguyen commented on #26
It's just a [json file](https://github.com/huy-nguyen/cz-conventional-changelog/blob/master/README.md) that specifies what the max line widths for header and body are with fallback to 100  characters.

[2017-04-28 15:01] jimthedev commented on #26
I am open to the idea but I'd require placing it using the existing config loader (typically a key under package.json)
https://github.com/commitizen/cz-cli/blob/master/package.json#L23

Specifically I'd recommend namespacing it to the adapter.

config > commitizen > "cz-conventional-changelog" > maxLineWidthHeader

An adapter should then be passed any of the config options under its configuration

[2017-05-08 06:00] krishna63 opened #51 "Not working when we are commiting with GIT GUI"
Hi Every one,

I have used husky and commitizen in my project, when i try to make some commits , from git bash it is executing the hooks properly by prompting the questions (which is expected ), but when i try to commit from GIT GUI , it is skipping the "commitmsg" hook which in turn triggers "cz-conventional-changelog" to prompt the required questionaire.

Kindly help me out .

[2017-05-09 19:11] jimthedev commented on #51
I think the git gui might run with --no-verify which skips all commit hooks. I don't think is a use case we can support since the gui's themselves essentially skip over us. I do have ambitions to write a new version of commitizen in which adapters would be required to export static information about the possible permutations of the prompt tree. This would allow tooling to guis to dynamically gener

[2017-05-10 06:29] krishna63 commented on #51
@jimthedev : Thanks for  reply.

GIT GUI does not skips all commit hooks, because when i run commitizen with ghooks module, it is throwing error (meaning it is not commiting the code) whereas husky is skipping the git hooks, as my nodejs is not installed in the c:/program files/nodejs ---- FYI. My expectation is when i try to commit the code from GUI also it should ask the questionnaire that we ha

[2017-05-13 01:25] jimthedev commented on #43
I agree this needs to be improved but it is how the original angular commit convention was written. We could perhaps find some message to use as filler in this special case? Can you think of a good filler section to indicate that there is no commit body?

[2017-05-15 13:43] jimthedev opened #52 "Allow for no, none, etc as answers to Breaking Changes"
Either we need to accept no, none, etc or have a better message to indicate that no is the default answer if you hit enter at the breaking changes prompt.

This discussion prompted by this Twitter convo: https://twitter.com/commitizen/status/863195437498609666

[2017-10-26 17:01] marceloavf commented on #41
How do you make it work @lirantal ?

[2017-10-27 11:22] #52 closed

[2017-10-28 16:00] lirantal commented on #41
hey @marceloavf,
no magic to it, I just noted that the last 2 questions in the interactive prompt result in their own new line.

for example, the following:
![image](https://user-images.githubusercontent.com/316371/32136099-27190972-bc12-11e7-8ef0-809ae1290b38.png)

turns into:
![image](https://user-images.githubusercontent.com/316371/32136104-34e619aa-bc12-11e7-889e-e57e4bac19e9.png)

[2017-11-20 16:19] brandondurham opened #62 "Is it possible to add a method for showing the branch name with each line?"
I and all of my coworkers would LOVE for the changelog to include the branch name the work was committed to within the changelog. Is this possible?

[2018-03-20 14:13] vxhly opened #66 "About subprojects"
Hello！
My main project is called shop and subproject is called shop-app.
When I run `git cz` under the subproject shop-app,
The commit url in the created `CHANGLOG.md` points to the main project but not the subproject.

 I expect is :`https://gitlab.com/qianqu/shop/shop-app/commit/6cba4ee)`
But it became: `https://gitlab.com/qianqu/shop/commit/6cba4ee)`

The a-tag generated at the head of the file

[2018-03-25 12:52] #66 closed

[2018-03-25 12:52] vxhly commented on #66
soory!I already know where the problem is.

[2018-04-26 15:10] greenkeeper[bot] opened #68 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/commitizen/cz-conventional-changelog/compare/master...commitizen:greenkeeper%2Fupdate-to-nod

[2018-05-24 12:48] lwouis commented on #26
I'm using `commitizen` together with `commitlint` on a project. Commitizen is setup with `cz-conventional-changelog`, and `commitlint` is setup with `@commitlint/config-conventional`.

It would be great if somehow [the rules](https://github.com/marionebl/commitlint/blob/master/%40commitlint/config-conventional/index.js) of what a conventional commit message would be shared between those projects.

[2018-05-24 15:53] travi commented on #26
the situation @lwouis describes is exactly the situation my team is in as well.

however, to make matters worse, we use [husky](https://github.com/typicode/husky) to run `npm test` on the `pre-commit` hook. since git fires `pre-commit` before `commit-msg`, the feedback we get about the length is delayed, so it ends up being even more wasteful.

i agree that using a project's commitlint config, if

[2018-07-17 15:45] hbetts commented on #16
I agree with @stevemao's naming suggestion.

Though, we should probably figure out how to share commit types, and other commit message conventions, between `conventional-changelog` presets (used for parsing commits and generating changelogs), and `commitizen` (for writing those commits in the first place).

[2018-07-25 18:44] mcrosby114 opened #71 "Should be imperative mood, there is no such thing as imperative tense"
https://github.com/commitizen/cz-conventional-changelog/blob/d4bf98e59b0d24e18876945546181ada5e2f7448/engine.js#L64

Just a nitpick, but it would be an improvement to re-word this message, perhaps with a brief example in the line. At the very least, this should be replaced with "mood" instead of "tense". I like how this example explains the intent of this type of commit message (https://git.kernel

[2018-09-18 14:27] jimthedev commented on #71
That'd be wonderful. Care to venture a PR?

[2019-01-11 00:08] yinzara commented on #26
Created PR (https://github.com/commitizen/cz-conventional-changelog/pull/75).

It allows config through the "config.commitzen" package.json key (the same place you specify "path" for the commitizen adapter).  You can now configure the maxHeaderWidth, maxLineWidth, defaultType, defaultScope, defaultBody, and defaultIssues though the original environment variables support will override the config.

[2019-01-11 00:12] yinzara commented on #43
With my PR https://github.com/commitizen/cz-conventional-changelog/pull/75

You can set the "config.commitzen.defaultBody" to something like "-" which will at least guarantee there is always a body.  I guess we could probably just make that happen by default if there is a breaking change.

[2019-02-04 21:59] travi commented on #26
@yinzara i've been meaning to try out your PR on my personal projects, but havent had a chance to yet. It sounds very close to what I would hope for, so I'm excited about it.

Since you mention commitlint and configuration, do you think it could be feasible for the default config to be pulled from what is built up in the commitlint config, when present? I think I would always want them to be confi

[2019-02-06 22:30] yinzara commented on #26
Your wish is.... well I'm happy to add things I also agree are awesome.

I've now added optional parsing of commitlint config itself (still can be overwritten by the config I added or the environment variable config).  If commitlint is not present, it fails gracefully and continues to function normally. If it is, it defaults the value based on the commitlint config (no matter how complex your impo

[2019-02-06 22:32] yinzara commented on #26
Oh and I forgot, related to issue #43 .  I have added additional questions that only appear if you add a breaking change or an issue reference but have no description.  It defaults the value to "-" but prompts you to change it.

[2019-02-06 22:32] yinzara commented on #43
I have added additional questions that only appear if you add a breaking change or an issue reference but have no description.  It defaults the value to "-" but prompts you to change it.
#75

[2019-02-06 22:56] yinzara commented on #26
Note regarding versions of things.  As we have always supported Node 4 for this project, I've attempted to keep Node 4 compatibility.  The @commitlint/load module (which handles commitlint loading) only appeared in version 6.1.1 of commitlint which doesn't support Node 4 (it's node 6 and higher).  The library already failed gracefully however the test cases were breaking.  I added a semver checkin

[2019-02-06 23:01] yinzara commented on #26
Btw I also removed the "console.log" statement that appears at the top of every commit.  Since it now handles line wrapping and heading max width automatically, I felt it wasn't required and it was making running the test cases look awful.

[2019-02-06 23:02] yinzara commented on #26
Btw if you run code coverage, you'll see there is now 100% coverage ;-)

[2019-04-14 13:18] mahmai opened #78 "Add WIP as a type of change."
There should be a work in progress tag. I think.

[2019-06-20 23:09] petermetz opened #85 "chore: release new version to npm"
The commit message length validation would be awesome, if it was accessible via the latest npm version.

[2019-07-08 19:18] parkerself22 commented on #85
Bump for this. Installed directly from github for now

[2019-07-17 19:35] aaryn101 commented on #85
Bump - please release.

[2019-07-19 19:32] commitizen-bot opened #87 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-07-19 19:44] #87 closed

[2019-07-19 19:57] jimthedev commented on #85
Just released 3.0.0.

[2019-07-19 19:57] #85 closed

[2019-07-19 19:57] #68 closed

[2019-07-19 20:03] jimthedev commented on #43
I think this is released in 3.0.0

[2019-07-19 20:03] #43 closed

[2019-07-19 20:05] jimthedev commented on #24
Hi hi. I think this was closed a while back. Feel free to reopen if you feel otherwise.

[2019-07-19 20:05] #24 closed

[2019-07-21 03:45] travi opened #89 "Cannot find module 'commitizen'"
after the latest release, i am seeing the following error when running `git cz` the same way i always have: `Cannot find module 'commitizen'`. I [noticed the same problem](https://github.com/commitizen/cz-conventional-changelog/pull/75#issuecomment-461684823) when attempting to test [this PR](https://github.com/commitizen/cz-conventional-changelog/pull/75), but assumed at the time that I was simpl

[2019-07-21 04:03] travi commented on #89
i notice that if i install `commitizen` locally, things work again, so it seems that `git cz` is not finding the globally installed version for some reason

[2019-07-21 04:31] travi commented on #89
looks to me like the issue is the direct dependency on the `commitizen` package in order to [use its config loader](https://github.com/commitizen/cz-conventional-changelog/blob/7234529b651b396716dfd015631f188524ee4e06/index.js#L5). This package only marks `commitizen` as a `devDependency`, so when `commitizen` is installed globally, but `cz-conventional-changelog` is installed locally, it isn't ab

[2019-07-21 12:17] #89 closed

[2019-07-23 03:44] balibebas opened #91 "Spam printed to standard out during install"
The following message may print to standard out during installation:

[code]

Here's the [related issue](https://github.com/zloirock/core-js/issues/548) and the dependency chain:

[code]

Please consider removing the dependency causing the verbose (and spammy) message to print to standard out during installation of this module.

[2019-07-23 03:45] #91 closed

[2019-07-23 03:45] jimthedev commented on #91
Take this up with core-js.

[2019-07-23 04:00] balibebas commented on #91
Fairly certain I won't need to.

[2019-07-29 16:57] FixRM opened #92 "Issue with related path"
Hello! It looks like that tool expects that pakage.json is located in repository root folder. In my case it is not and I got "Cannot find module" error. Is it expected behavior?

[2019-08-11 21:52] jack1142 opened #93 "Add config option for custom types"
I can see you're currently using angular's commit types (through npm package `conventional-commit-types`) and I think it would be a nice addition to add support for own commit types - either a config option like "additionalTypes" that would allow us to just add more types on top of the ones that are already in `conventional-commit-types` or a simple config option like "types" that would be used in

[2019-08-15 16:52] coldacid opened #94 "Make lower-casing of scope optional"
Using cz-conventional-changelog with non-JS projects where components and file names may be cased is problematic due to the forced lower-casing of the value typed in for the scope prompt. Lower-casing should be optional, although defaulting to on is fine.

[2019-08-29 15:02] jrosen opened #95 "the ability to ignore pre-release commits"
Use Case: we are tagging every commit to master with a release candidate pre-release tag (e.g. 1.2.3-RC.4) . Right now, we run changelog and it makes a new version entry for every pre-release, which is nice for unreleased changes... however, during a normal release, I'd like to re-generate the changelog, have it ignore pre-release tags, and only generate a changelog of full releases.
All this woul

[2019-09-13 07:59] rafalmaciejewski commented on #94
I need to stick with v2 until this will be available since we need those uppercase letters at the front of the subject (because of reasons) :/
It'd be great if anyone came up with a workaround for this.

[2019-09-25 19:24] unlight opened #97 "Bug, subject converted to lowercase"
Function `filterSubject` converts all inputs to lower case.
I want to keep my subject sentence cased.

[2019-11-18 14:15] rafalmaciejewski commented on #94
there is already a pull request for this #96

[2019-11-25 19:43] revelt opened #102 "stop uppercasing description if second letter is also upperac"

[2020-01-02 05:08] yhybulider opened #106 "how to fix this error?"
![image](https://user-images.githubusercontent.com/48554508/71652451-b0877880-2d60-11ea-9c32-df9d982190f0.png)

thanks

[2020-01-03 13:18] martinmcwhorter commented on #26
I am looking at creating a PR to bring even more configuration options from commitlint.

Before doing this -- I am wondering if this would be desirable in this project?

I don't want to fragment this project unnecessarily.

[2020-01-04 00:38] skeggse opened #107 "update conventional-commit-types dependency"
Version 3.0.0 of `conventional-commit-types` removes the `improvement` commit type. For consistency with the conventional commits spec, we'd like to see this change in the commitizen CLI, and since it's a breaking change we'd need to update the dependency here. Would this be a breaking change here, too?

cc @AndersDJohnson

[2020-01-06 09:50] zeorin commented on #26
I'm not a maintainer of this project, just a user, but I whole-heartedly welcome any contributions that aligns it with commitlint.

[2020-01-06 19:17] skeggse commented on #107
See #105.

[2020-01-07 21:59] zanza00 commented on #107
I have a project that has both the prompt both the lint of commit messages (using [commitlint](https://github.com/conventional-changelog/commitlint)) and when using the prompt by cz and choosing `improvement`, the lint fails which is frustrating.

I forced the v3 of `conventional-commit-types` in my package.json but that is not ideal

[2020-01-07 23:51] AndersDJohnson commented on #107
I am not an active maintainer of this project but I support the change in #105. :+1:

[2020-01-29 10:30] ATLSAPI opened #110 "Update README with disableScopeLowerCase option"
As #96 has now been merged in, should the README be updated to include information about `disableScopeLowerCase`?

I'm happy to create a PR for this 😄

[2020-01-29 10:32] ATLSAPI commented on #94
This PR has now merged and released in [v3.1.0](https://www.npmjs.com/package/cz-conventional-changelog/v/3.1.0). Does this need closing?

[2020-01-29 15:10] coldacid commented on #94
@ATLSAPI let me update and try it out.

[2020-01-30 15:40] coldacid commented on #110
Yes please! I've been struggling trying to figure out how to configure this in order to try out #96 on my project.

[2020-01-30 15:55] coldacid commented on #94
Looks like this doesn't work on Windows when using a global install as Node will grab the 3.0.1 install out of commitizen itself rather than the side-installed 3.1.0 cz-conventional-changelog. :(

[2020-01-30 16:34] coldacid commented on #94
So apart from that caveat (which is more of a Node and commitizen config issue) it looks like the functionality itself worked. Since providing an absolute path to cz-conventional-changelog in .czrc works, I'd say that this issue is good and done. Closing.

[2020-01-30 16:34] #94 closed

[2020-02-10 18:51] skeggse commented on #107
Closed and released in 3.0.3 per #105.

[2020-02-10 18:51] #107 closed

[2020-02-25 21:16] djcsdy opened #113 "New releases of cz-conventional-changelog since 3.0.1 do not take effect"
At present, all releases of cz-conventional-changelog since 3.0.1 are useless since they behave exactly as if 3.0.1 was installed.

The reason for this is the circular dependency between cz-conventional-changelog and commitizen. Since there is a circular dependency, one of the projects must always depend on an older version of the other. commitizen depends on cz-conventional-changelog =3.0.1 (no v

[2020-02-25 21:25] djcsdy commented on #113
Turns out I am getting this problem because in my package.json I specified:

[code]

as opposed to the recommended relative path:

[code]

I still think much of what is discussed above is a real problem, so I will leave this issue open, but feel free to close it if you disagree. It's not great that depending on any one version of cz-conventional-changelog results in two different versions being in

[2020-03-11 09:16] Val-istar-Guo opened #115 "`answers. breakingBody` does not affect the commit message at all."
https://github.com/commitizen/cz-conventional-changelog/blob/e7bd5462966d00acb03aca394836b5427513681c/engine.js#L139-L154

`answers. breakingBody` does not affect the commit message at all.

https://github.com/commitizen/cz-conventional-changelog/blob/e7bd5462966d00acb03aca394836b5427513681c/engine.js#L207

I wrote breakingBody but found this doesn't make any sense. I read the code and I can't und

[2020-04-02 14:41] bertho-zero opened #117 "[Feature] Selector for scope according to scope-enum rule"
When the scope list is defined in the `scope-enum` rule, we could then have a selector like the type.

[2020-04-02 16:30] bertho-zero commented on #117
Done in https://github.com/commitizen/cz-conventional-changelog/pull/118.

[2020-04-13 20:49] GitGangGuy opened #119 "Consider switching to a different prompt library"
Currently, [Inquirer.js](https://github.com/SBoudrias/Inquirer.js/), the library you are using to display prompts, has a [unfixed bug that has remained silent since a year](https://github.com/SBoudrias/Inquirer.js/issues/793). This bug causes the questions to duplicate/not get overwritten/not get cleared properly anytime a key is pressed, resulting in a unbelievably awful experience.
Looking forwa

[2020-04-15 02:54] s14k51 commented on #115
+1 on this. I noticed this issue today. It affects both `breakingBody` and `issuesBody`.

### As an example of what is happening:
At first, I skipped the body, but answered `y` for the issues question, then it asked me to provide a longer description, but when I provided the answer, it did not get added to the body section in the commit below the commit message.

Expected
[code]

Actual
[code]

So

[2020-04-16 18:55] PavelZubkov commented on #119
I have same problem.

In my case i run `node index.js`. As soon as the input reaches the line break, each subsequent character entered leads to a duplication of everything.

I try install PowerShell on Ubuntu. Not reproduced, only windows

[2020-04-22 10:03] bjoluc commented on #97
This is what happens:

https://github.com/commitizen/cz-conventional-changelog/blob/861b36171d9670b34b287acd7bd01db6e3238405/engine.js#L24-L34

I'd like to keep my first letter uppercase as well – @jimthedev I'm failing to find a spec for this. Am I missing something? If not, would you accept a PR to remove the modification of the first letter? Thanks in advance!

[2020-04-22 14:13] unlight commented on #97
I switched to https://github.com/leonardoanalista/cz-customizable

[2020-04-25 17:17] s14k51 commented on #119
@GitGangGuy @PavelZubkov What other prompt libraries have you used on windows that gave you a smooth experience?

[2020-05-04 21:07] #93 closed

[2020-05-06 17:56] GitGangGuy commented on #119
I'll close this. The problem only arises for me in a git hook, which has been solved in an issue I submitted on huskys github. Thanks to everyone who joined in!

[2020-05-06 17:56] #119 closed

[2020-07-10 08:24] buzzzzx commented on #110
I am struggling to figure out how to configure this with **disableScopeLowerCase** option, too.

[2020-07-10 08:40] buzzzzx commented on #110
Oh. I just add this into my `.czrc`

`"disableScopeLowerCase": 1`

And which works.

[2020-07-14 16:05] fendy-g opened #121 "NPM audit reports low vulnerability in dependency"
npm audit --registry https://registry.npmjs.org

Low Prototype Pollution
Package lodasy
Patched in > 4.17.19
Path cz-conventional-changelog > commitizen > lodash
More info  https://npmjs.com/advisories/1523

[2020-07-19 23:42] andyrooger commented on #121
I guess this is just waiting on the [other issue](https://github.com/commitizen/cz-cli/issues/756) you reported, @fendy-g ?

[2020-07-19 23:50] fendy-g commented on #121
That would be correct @andyrooger !

[2020-07-27 20:14] wolframdeus opened #124 "require('@commitlint/load') does not work properly anymore"
Since @commitlint/load release v9, this line of code is not working anymore and as a result, no config could be downloaded

https://github.com/commitizen/cz-conventional-changelog/blob/master/index.js#L32

The reason is `require('@commitlint/load')` now returns `{default: func}` but not function itself.

Here is my package.json:
[code]

It didnt work even if you specify @commitlint packages versio

[2020-07-28 23:02] ThisIsMissEm opened #125 "Better Tests"
I've been working on a new feature for cz-conventional-changelog (related to #118 ), and I've noticed that all of the tests essentially fake out inquirer, which means that logic like `when` in inquirer prompts wasn't respected. An alternative testing strategy would be to assume that the inquirer module works as expected and then work with the stdin/stdout streams to do more integration-style testi

[2020-07-28 23:03] ThisIsMissEm commented on #125
You can see what I mean by the separation of logic here: https://github.com/ThisIsMissEm/cz-conventional-changelog/pull/1/files#diff-168726dbe96b3ce427e7fedce31bb0bcR94

[2020-07-29 02:52] ThisIsMissEm commented on #124
So would it be better for us to have a `peerDependency` on commitlint @ 8.3.5? Or should we actually try to support both versions of commitlint?

[code]

[2020-07-29 02:56] ThisIsMissEm commented on #20
@jimthedev this could be fixed with specify a `peerDependency` of `commitizen @ >= 2.8.1`, meaning that everyone will get told to update if they're not up-to-date

[2020-07-29 07:41] wolframdeus commented on #124
I think, typecheck is enough for our problem. Not sure, commitlint @ load will change return type in near future, so checking if require returns function or object with field `default` is enough

[2020-07-29 08:05] ThisIsMissEm commented on #124
I might fix this in a commit on #126, as on that branch we can actually properly test config loading.

[2020-07-29 08:13] wolframdeus commented on #124
Will try in several days

[2020-07-29 08:37] ThisIsMissEm commented on #124
Ah, actually, looks like commitlint 9.0.0 was broken, and the fix was in 9.0.1:
- https://github.com/conventional-changelog/commitlint/issues/1738
- https://github.com/conventional-changelog/commitlint/blob/master/CHANGELOG.md#901-2020-05-26

Can you first try with commitlint@9.0.1? I don't know a whole heap about commitlint, but it looks like they've moved from javascript to typescript which seem

[2020-07-29 09:04] ThisIsMissEm commented on #124
I've just tried with commitlint@8.5.3, and @9.0.0, and I'm unable to reproduce this issue; I'm on node.js v12.8.x

[2020-07-31 16:37] wolframdeus commented on #124
Hm. I am now unable to reproduce this issue too. Probably, the problem could be somehow connected with yarn.lock and new version of commitlint. It appeared, when I decided to upgrade all deps and tried to call `git-cz` and then I saw that commit head length changed. And finally I got into `cz-conventional-changelog` sources and found that anomaly.

Thank you for your participant @ThisIsMissEm ! Wi

[2020-07-31 16:37] #124 closed

[2020-08-04 10:44] tahsinature commented on #121
please fix it asap

[2020-08-08 04:23] fchenTelus opened #128 "2nd source of lodash 4.17.14 vulnerability"
The problem is at:
cz-conventional-changelog -> @commitlint/load@>6.1.1 -> lodash@4.17.14
Theoretically the `>` operator you folks have put onto @commitlint/load should fetch the newest version of @commitlint/load (that would in turn use a newer lodash), but it's not happening for me. And running `npm update @commitlint/load --depth 10` doesn't solve it either.

Could @commitlint/load be set to a

[2020-08-13 15:41] ldiego08 opened #129 "Commitlint config loading not working"
I've been debugging `cz-conventional-changelog` trying to determine why is it not grabbing my `commitling.config.js` settings. After changing [`index.js#L45`](https://github.com/commitizen/cz-conventional-changelog/blob/master/index.js#L45) to log errors to the console, I saw this message: `TypeError: commitlintLoad is not a function`. Turns out `@commitlint/load` is not working correctly. Changin

[2020-08-20 12:35] equinox7 commented on #124
The issue still exists for me, when changing this line:
https://github.com/commitizen/cz-conventional-changelog/blob/aae2548e682683d8637d0ee58bd4e8f320ba3a11/index.js#L31
to
[code]
it starts working...

[2020-08-26 18:42] #110 closed

[2020-10-06 11:55] djamaile commented on #102
Can something be done with this? It's really stupid to lowercase words that are all CAPS.

[2020-10-08 10:00] LinusU commented on #102
PRs welcome!

[2020-10-08 10:25] revelt commented on #102
ok

[2020-10-08 17:56] revelt commented on #102
related #97

[2020-10-08 17:58] revelt commented on #22
Let's close this issue, repo now has tests.

[2020-10-08 18:05] revelt commented on #102
@LinusU done, please review the PR! Thank you for maintaining this, I use cz every day.

[2020-10-08 18:23] revelt commented on #78
If I may, I'd like to put a counter argument against this idea.

If one codes up a feature from many commits, that's fine, one can put the subject more granular, you can always describe what one did, that's fine! If one doesn't want five commits to pop up in the changelog, one can use `chore` but I'd just go more granular.

For example, I don't care if my feature is split across 10 commits — all `

[2020-10-08 18:24] revelt commented on #106
@yhybulider did you manage to solve this issue since? 10 months passed and I wonder can we close the ticket or do you need some help.

[2020-10-08 18:33] revelt commented on #11
I'm kindof late here but I wonder, if the issue is still happening, could we encode double quotes with `\x22`?

<img width="539" alt="x22" src="https://user-images.githubusercontent.com/8344688/95499423-26c6a480-099d-11eb-8f1e-f5f39985ee84.png">

[2020-10-08 18:43] revelt commented on #92
Yeah, it seems it's expected.

Off-topic, in case the package.json is not in root because **it's a monorepo**, I've got a monorepo and I use Lerna and cz and all works fine. See https://gitlab.com/codsen/codsen — I'm happy to advise, my email is public.

Looking realistically, I see two possible outcomes: 1) if we want to pursue the path to support package.json not in root, we need to describe the

[2020-12-04 11:03] Zhwt commented on #78
I would suggest adding some features that can add `WIP: ` as a prefix. For me, I'm currently adding "WIP:" manually to every commit which should be considered "not complete" using `git commit --amend`, though it seems not ideal at first, but introducing a "not sure" type...🤔

[2021-03-10 16:41] na-ji commented on #124
The issue still exists today as you can see in issue #129. Tried with version 8.3, 9.1 and version 12.0 of commitlint, the config is not loaded correctly.

[2021-03-24 08:25] Filipoliko commented on #13
Hi, just ran into this issue with Windows 10, `git-cz` v4.7.1 and `cz-conventional-changelog` v3.3.0. Has this not been fixed yet?

[2021-04-11 08:05] quanjinzhang opened #139 "Something maybe wrong with the code in engine.js"
Something maybe wrong with the code in engine.js

I think the following code block in engine.js
`
        // Wrap these lines at options.maxLineWidth characters
        var body = answers.body ? wrap(answers.body, wrapOptions) : false;
`
should be change to the follwing code:
`
        var answerBody = answers.body?answers.body:'';
        if (!answerBody) {
          if (answers.breakingBody) {

[2021-05-06 12:23] DaviLhlapakRosa opened #142 "Vulnerability Prototype Pollution"
A few days ago I went to install my project's packages and npm pointed out 4 critical security errors, but I couldn't understand the solution for it, I didn't find issues that matched the current problem, can you help me?

When running the command npm audit it shows the following text:
[code]

These are the versions that I have installed
cz-cli@4.2.3
cz-conventional-changelog@3.3.0

Thanks in adva

[2021-05-13 02:58] ramsunvtech opened #145 "Add config option to extend instead of overriding"
There is only option to override the config. is there any possibility to extend with current types.

Similar issue: https://github.com/commitizen/cz-conventional-changelog/issues/93#issue-479417363

[2021-06-17 21:39] yarthur commented on #115
#132 claims to fix this issue, and I would love to see this issue fixed. Is there anything I can do to help get things merged?

[2021-07-07 19:02] chrisgarber commented on #97
I believe this is fixed by the config option `disableSubjectLowerCase`

[2021-07-09 09:22] bjoluc commented on #97
Absolutely, thanks @chrisgarber! @unlight Would you mind closing the issue?

[2021-07-09 09:55] #97 closed

[2021-08-11 06:40] iKrishnaSahu commented on #145
I have the same issue. Need this merge feature.

[2021-08-31 07:49] thesheps opened #153 "Add prompter option to append .gitmessage to commits"
Hey folks! Not sure if this is within the guidelines of the community, but thought it would be a useful extension to allow whatever's already been baked into the `.git/.gitmessage` to be appended to the end of a conventional commit?

Common usecases include things like git-mob which appends co-authors to this file automatically.

#152 addresses this, would love to start a conversation about it if

[2021-10-01 21:36] EndzeitBegins opened #155 "Add support for optional exclamation mark (!)"
According to [conventional commits](https://www.conventionalcommits.org), a breaking change can also be denoted by adding an exclamation mark (!) after type / scope.
This improves the visibility of breaking changes by making them visible in the commit message header.

We started to take a look at Commitizen in combination with `@digitalroute/cz-conventional-changelog-for-jira`. Instead of contribu

[2021-10-18 16:55] renovate opened #158 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/commitizen/cz-conventional-changelog).

## Rate-Limited

The following updates are currently rate-limited. To force their creation now, click on a c

[2021-11-23 19:29] renovate[bot] opened #160 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (:assigneesSampleSize(2)). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-11-23 19:42] #160 closed

[2022-04-05 17:11] brandondurham commented on #102
Why does this stuff sit around for so long?

[2022-04-06 07:50] revelt commented on #106
Let's close this ticket if nobody objects.

[2022-04-07 07:26] SaezChristopher commented on #142
Please up

[2022-04-27 08:31] wujekbogdan opened #192 "[Feature request] Add autocomplete feature"
I've been using [cz-emoji](https://github.com/ngryman/cz-emoji) so far. I had to drop it because its format doesn't follow Conventional Commits syntax. `cz-conventional-changelog` works very well in terms of formatting, but in terms of UX it's worse than `git-cz`. `git-cz` has a very convenient search/filter feature. Instead of selecting an element form the list we can simply search for it, which

[2022-04-28 19:54] Blackbaud-SteveBrush opened #193 "Vulnerability warnings with ansi-regex and minimist"
I'm seeing a few vulnerability warnings after installing `3.3.0`, namely with `ansi-regex` and `minimist`.

[2022-05-10 12:44] Blackbaud-SteveBrush commented on #193
Related: https://github.com/commitizen/cz-cli/issues/914

[2022-07-25 08:40] stevensacks commented on #193
The issue is in commitizen 4.2.4.
[code]

I tried using resolutions and `npx npm-force-resolutions` but for some reason this library stubbornly refuses to resolve.
[code]

[2022-07-25 08:43] stevensacks commented on #193
This looks like it was [resolved](https://github.com/commitizen/cz-cli/issues/914#issuecomment-1186543431) in commitizen 4.2.5.

When can we expect an update to this library to use 4.2.5?

[2022-07-25 16:46] travi commented on #193
`commitizen` is [defined as a range](https://github.com/commitizen/cz-conventional-changelog/blob/11dca0fcfafe9c40e789de15aa24f358454aeef8/package.json#L25). while i support the minimum of that range being updated to force installation of the patched version, simply reinstalling/updating your lockfile can already allow you to use the patched version

[2022-07-25 23:06] stevensacks commented on #193
So you’re not going to release an update, something that would take you a few minutes, and instead off-loading the burden to every developer who uses this library to manually hack their package-lock file?

[2022-07-25 23:55] travi commented on #193
I'm not a maintainer. I can't make releases any more than you can. I was simply suggesting a solution that you could unblock yourself with in the meantime.

[2022-07-26 00:11] stevensacks commented on #193
Ah I was confused by you saying “while i support the minimum of that range”. It made it sound like you were a maintainer.

[2022-07-26 02:39] travi commented on #193
that statement was meant to clarify that i do think it is worthwhile for the change to be made in this project, even though there is a valid work around now available.

regardless of whether i was a maintainer or not, please consider the service that maintainers of OSS provide for free in their spare time. being confrontational or acting entitled to their service can actively discourage them from

[2022-07-26 03:40] stevensacks commented on #193
Hold up. Let’s clarify something.

This project is functionally abandoned. It has not been updated in 2 years, but it’s touted as being an integral part of a group of related projects, but the other projects have been updated far more recently.

Your message read to me like you were a maintainer of this project, which meant you took time to reply on a thread giving an excuse why you weren’t going

[2022-07-26 04:21] stevensacks commented on #193
It would take the same amount of time to update the version of a single dependency as it would to make an excuse why you aren't going to.

This project hasn't been updated in over 2 years. I don't know what you're worried about. It's already been abandoned.

[2022-08-15 21:30] jviotti commented on #26
Closing stale issues

[2022-08-15 21:30] #26 closed

[2022-11-02 08:34] LeonDWong opened #207 "Title config in package.json is not work anymore, but still remain in README.md"
I've trying to customize my project's commit types, but found that `title`  doesn't make any effect. And i notice, in source code, it seems engine.js won't use `title`, is there something wrong?

README.md:
https://github.com/commitizen/cz-conventional-changelog/blob/a93bd96c154c817d496895e6136f0c68672d94ae/README.md#L37

engine.js:
https://github.com/commitizen/cz-conventional-changelog/blob/a93b

[2022-11-15 19:22] ErfanMirzapour opened #209 "the adapter does not respect the commit types defined in .versionrc"
We're using standard version and CZ together with this adapter.

We already have a .versionrc with our customized types defined inside of it.

I just wish the adapter could respect that if there's any at the root of the project.

`cz-conventional-changelog` `types` field example:
[code]

`standard-version`  `types` field example:
[code]

We just need to check for the file and add a simple transfor